@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv {
  text-decoration: none;
}

.btnDownload {
  color: #fefefe !important;
  border-color: #fefefe !important;
}

.appbar {
  background-color: #212125 !important;
}
